@import './variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Raleway';
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

address, p {
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

p {
  max-width: $paragraph-max-width;
}

.above-decoration {
  position: relative;
  z-index: 1;
}
