$color-buddha-gold: #d7a600;
$color-early-dawn: #fffaeb;
$color-minsk: #472a7e;

$primary: $color-minsk;
$secondary: $color-buddha-gold;
$body-bg: $color-buddha-gold;
$light: #dee2e6;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

$border-color: rgba($primary, 0.3);
$input-bg: $white;
$accordion-bg: $white;
$accordion-button-bg: $white;
$form-select-bg: $white;
$input-focus-bg: $white;
$form-check-input-bg: $white;
$input-medium: calc($spacer * 18);
$paragraph-max-width: $spacer * 40;
$enable-button-pointers: false;
