$color-buddha-gold: #d7a600;
$color-early-dawn: #fffaeb;
$color-minsk: #472a7e;

$primary: $color-minsk;
$body-bg: $color-buddha-gold;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

$input-bg: $white;
$input-focus-bg: $white;
