@import '../styles/variables.scss';
@import 'bootstrap/scss/vendor/_rfs.scss';
@import 'bootstrap/scss/mixins/_border-radius.scss';
@import 'bootstrap/scss/mixins/_buttons.scss';

.ArticleLead {
  font-size: $font-size-base/1.2;
}


.baseStamp {
  font-size: $font-size-base;
  font-weight: normal;
}

.batch {
  border-top: 1px solid $border-color;
  margin-top: $spacer;
  padding-top: $spacer;
}

.batchButtons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: calc($spacer / 2);

  .detailsButton {
    margin-left: auto;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .batchButtons {
    align-items: end;
    flex-direction: column;
    margin-top: 0;

    .signupButton {
      @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
      margin-bottom: calc($spacer / 4);
    }

    .detailsButton {
      margin-left: 0;
    }
  }
}
