@import '../styles/variables.scss';

input, select {
  &.default,
  &.default + :global(.form-text) {
    max-width: $input-medium;
  }
}

.phoneInput {
  max-width: $spacer * 12;
  input {
    border: none;

    &:focus,
    &:hover {
      outline: none;

    }
  }
}
