@import '../styles/variables.scss';

input, select {
  &.default,
  &.default + :global(.form-text) {
    max-width: $input-medium;
  }
}

.phoneInput {
  max-width: $spacer * 14;
  position: relative;

  &:global(.form-control) {
    padding-top: 0;
    padding-bottom: 0;
  }

  :global(.flag-dropdown) {
    left: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;

    :global(.country) {
      cursor: default;

      &:hover {
        background: darken($white, 10%);
      }

      &:global(.highlight) {
        background: lighten($primary, 10%);
        color: $white;

        &:hover {
          background: lighten($primary, 20%);
        }
      }
    }
  }

  :global(input.form-control) {
    border: none;
    min-width: 0;
    padding-left: $spacer * 2.5;
    width: auto;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
    }
  }
}
