@import '../styles/variables.scss';

.bgShapes {
  position: relative;
  & > div {
    position: relative;
    z-index: 2;
  }
  
  &:after,
  &:before {
    background-repeat: no-repeat;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
  }

  &:before {
    background-image: url(../public/bg-shapes-left.webp);
    background-position: center left;
    bottom: -75%;
    top: 50%;
  }

  &:after {
    background-image: url(../public/bg-shapes-right.webp);
    background-position: center right;
    bottom: -50%;
    top: -50%;
  }
}

.flavour {
  max-width: 420px;
  margin: calc($spacer * 3);
}

.flavourText {
  font-style: italic;
  font-size: $h4-font-size;
  text-align: center;
  transition: height .2s;
  overflow: hidden;
}

.flavourLine {
  display: block;
  min-height: 1rem;
}

.flavourQuote {
  &, & * {
    display: inline;
  }
}

.missionText {
  font-size: $spacer * 2;
  font-weight: bold;
}

@media (min-width: 400px) {
  .missionText {
    font-size: $spacer * 3;
  }
}

.witcher {
  background-image: url('../public/fantasion-witcher.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 calc($spacer) rgba(darken($primary, 50%), 0.33));
  position: relative;
  width: 100%;
  z-index: 10;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
