.flavourText {
  max-width: 420px;
}

.witcher {
  background-image: url('../public/fantasion-witcher.webp');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
