@import '../styles/variables.scss';

.flavour {
  max-width: 420px;
  margin: calc($spacer * 3);
}

.flavourText {
  font-style: italic;
  font-size: $h4-font-size;
  text-align: center;
}

.missionText {
  font-size: $spacer * 2;
  font-weight: bold;
}

@media (min-width: 400px) {
  .missionText {
    font-size: $spacer * 3;
  }
}

.witcher {
  background-image: url('../public/fantasion-witcher.webp');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 calc($spacer) rgba(darken($primary, 50%), 0.33));
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
