@import '../styles/variables.scss';

.bubble {
  $size: $spacer * 2;

  align-items: center;
  background: $primary;
  border-radius: 100%;
  color: $white;
  display: flex;
  height: $size;
  justify-content: center;
  overflow: hidden;
  width: $size;
}

a:link.bubble,
a:link .bubble {
  &:hover {
    color: $navbar-dark-hover-color;
  }
}
