@import '../styles/variables.scss';

.navbar {
  transition: all 0.2s;
  user-select: none;

  .navbarBrand,
  .navbarToggle {
    color: $primary;
    font-weight: bold;
  }

  .navbarToggle {
    border: none;
  }

  :global(.navbar-nav) + :global(.navbar-toggler) {
    margin-left: calc($spacer / 2);
  }

  :global(.navbar-nav) :global(.nav-link) {
    color: $primary;
    font-weight: bold;

    &:hover,
    &:focus {
      color: lighten($primary, 20%);
    }
  }

  &:global(.fixed-top) {
    opacity: 0.66;

    &:hover {
      opacity: 1;
    }
  }

  &.navbarInverse {
    opacity: 1;
  }

  &:global(.fixed-top),
  &.navbarInverse,
  &.navbarExpanded {
    background-color: $primary;
    box-shadow: 0 0 $spacer rgba(darken($secondary, 33%), 0.5);

    .navbarBrand,
    .navbarToggle {
      color: $white;
    }

    :global(.navbar-nav) :global(.nav-link) {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
        opacity: .66;
      }
    }
  }

  &.navbarExpanded {
    :global(.navbar-collapse) :global(.navbar-nav) {
      border-top: 1px solid rgba($white, 0.2);
      margin-top: calc($spacer / 2);
      padding-top: calc($spacer / 2);
    }
  }
}

.logo {
  margin-right: calc($spacer / 2);
  width: 30px;
  height: 30px;
}

.content {
  background-color: $color-early-dawn;
  background-image: url(../public/bg-texture.gif);
  padding-bottom: $spacer;
}

.footer {
  color: $primary;
  padding-bottom: $spacer;
  padding-top: calc(2 * $spacer);
  position: relative;
}

.social {
  font-size: 2 * $spacer;

  a {
    margin-left: calc($spacer / 2);

    &:first-child {
      margin: 0
    }
  }
}

.footerInfo {
  font-size: $font-size-sm;
  margin-top: $spacer;
  opacity: 0.66;
}

.footerLogo {
  position: absolute;
  right: $spacer;
  top: $spacer;
  width: $spacer * 5;
}

.quickLinks {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-left: 1px solid $primary;
    display: inline-block;
    margin: 0 0 0 calc($spacer / 2);
    padding: 0 0 0 calc($spacer / 2);

    &:first-child {
      border: none;
      margin: 0;
      padding: 0;
    } 
  }
}

.galleryPageRow {
  & > * {
    padding: 0;
  }
}

.runes {
  display: flex;
  justify-content: center;
  margin: $spacer 0;
}

.rune {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: calc($spacer / 4);
  opacity: 0.1;
  transition: 0.4s opacity;
  height: calc($spacer * 2);
  width: calc($spacer * 2);
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .rune {
    height: calc($spacer * 3);
    width: calc($spacer * 3);
  }
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .footerLogo {
    position: static;
    top: 0;
    width: $spacer * 7;
  }

  .rune {
    height: calc($spacer * 4);
    width: calc($spacer * 4);
  }
}
