@import '../styles/variables.scss';

.navbar {
  transition: all 0.2s;
  user-select: none;

  .navbarBrand,
  .navbarToggle {
    color: $primary;
    font-weight: bold;
  }

  .navbarToggle {
    border: none;
  }

  :global(.navbar-nav) + :global(.navbar-toggler) {
    margin-left: calc($spacer / 2);
  }

  :global(.navbar-nav) :global(.nav-link) {
    color: $primary;
    font-weight: bold;

    &:hover,
    &:focus {
      color: lighten($primary, 20%);
    }
  }

  &:global(.fixed-top) {
    opacity: 0.66;

    &:hover {
      opacity: 1;
    }
  }

  &.navbarInverse {
    opacity: 1;
  }

  &:global(.fixed-top),
  &.navbarInverse,
  &.navbarExpanded {
    background-color: $primary;
    box-shadow: 0 0 $spacer rgba(darken($secondary, 33%), 0.5);

    .navbarBrand,
    .navbarToggle {
      color: $white;
    }

    :global(.navbar-nav) :global(.nav-link) {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
        opacity: .66;
      }
    }
  }

  &.navbarExpanded {
    :global(.navbar-collapse) :global(.navbar-nav) {
      border-top: 1px solid rgba($white, 0.2);
      margin-top: calc($spacer / 2);
      padding-top: calc($spacer / 2);
    }
  }
}

.basketIcon {
  display: inline-flex;
  margin-right: calc($spacer / 2);
  position: relative;
  vertical-align: top;
}

.basketBadge {
  left: calc(-0.75 * $spacer);
  top: calc(-0.5 * $spacer);
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  opacity: 0;
  z-index: 1024;
  transition: all 200ms;

  &.show {
    opacity: 1;
    transform: scale(0.75);
  }
}

.logo {
  margin-right: calc($spacer / 2);
  width: 30px;
  height: 30px;
}

.content {
  background-color: $color-early-dawn;
  background-image: url(../public/bg-texture.gif);
  padding-bottom: $spacer;
}

.footer {
  color: $primary;
  padding-bottom: $spacer;
  padding-top: calc(2 * $spacer);
  position: relative;
}

.social {
  font-size: 2 * $spacer;

  a {
    margin-left: calc($spacer / 2);

    &:first-child {
      margin: 0
    }
  }
}

.footerInfo {
  font-size: $font-size-sm;
  margin-top: $spacer;
  opacity: 0.66;
}

.footerLogo {
  position: absolute;
  right: $spacer;
  top: $spacer;
  width: $spacer * 5;
}

.quickLinks {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-left: 1px solid $primary;
    display: inline-block;
    margin: 0 0 0 calc($spacer / 2);
    padding: 0 0 0 calc($spacer / 2);

    &:first-child {
      border: none;
      margin: 0;
      padding: 0;
    } 
  }
}

.galleryPageRow {
  & > * {
    padding: 0;
  }
}

.runes {
  display: flex;
  justify-content: center;
  margin: calc($spacer * 1.5) 0 $spacer;
}

@keyframes rune-01 {
  0% { color: $primary; }
  20% { color: lighten($primary, 50%); filter: drop-shadow(0 0 calc($spacer / 4) darken($primary, 33%)); }
  40% { color: $secondary; filter: drop-shadow(0 0 calc($spacer / 4) $secondary); }
  60% { color: #e12; filter: drop-shadow(0 0 calc($spacer / 4) #e12); }
  80% { color: #39e; filter: drop-shadow(0 0 calc($spacer / 4) #39e); }
  100% { color: $primary; }
}

@keyframes rune-02 {
  0% { color: $primary; }
  50% { color: $secondary; filter: drop-shadow(0 0 calc($spacer / 4) $secondary); }
  100% { color: $primary; }
}

@keyframes rune-03 {
  0% { color: $primary; }
  50% { color: #e12; filter: drop-shadow(0 0 calc($spacer / 4) #e12); }
  100% { color: $primary; }
}

@keyframes rune-04 {
  0% { color: $primary; }
  50% { color: #1e2; filter: drop-shadow(0 0 calc($spacer / 4) #1e2); }
  100% { color: $primary; }
}

@keyframes rune-05 {
  0% { color: $primary; }
  50% { color: #39e; filter: drop-shadow(0 0 calc($spacer / 4) #39e); }
  100% { color: $primary; }
}

.rune {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  filter: drop-shadow(0 0 calc($spacer / 4) rgba($primary, 0.66));
  margin: calc($spacer / 4);
  transition: 0.4s opacity;
  color: $primary;
  height: calc($spacer * 2);
  width: calc($spacer * 2);
  animation: 42s rune-01 infinite;

  &:nth-child(2) { animation-delay: 15s; }
  &:nth-child(3) { animation-delay: 63s; }
  &:nth-child(4) { animation-delay: 27s; }
  &:nth-child(5) { animation-delay: -31s; }
}

.menuUserName {
  font-size: $font-size-base;
  margin-right: calc($spacer / 2);
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .rune {
    height: calc($spacer * 2.5);
    width: calc($spacer * 2.5);
  }
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .footerLogo {
    position: static;
    top: 0;
    width: $spacer * 7;
  }

  .rune {
    height: calc($spacer * 2.5);
    width: calc($spacer * 2.5);
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .menuWidget {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    button.navbarToggle {
      display: block;
    }
  }

  .navbar {
    &.navbarExpanded {
      :global(.navbar-collapse) {
        &:global(.collapsing) {
          height: auto !important;
        }
        :global(.navbar-nav) {
          border-top: none;
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
    
    .userMenu {
      background: $primary;
      border-radius: $border-radius-lg;
      opacity: 0;
      padding: calc($spacer / 2) !important;
      pointer-events: none;
      position: absolute;
      right: calc($spacer / 2);
      top: calc($spacer * 3.5);
      transition: opacity 0.2s;

      a:link,
      a:visited {
        color: $white;
      }
    }

    :global(.show),
    :global(.collapsing) {
       .userMenu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
