@import '../styles/variables.scss';

.size {
  max-width: calc($spacer * 22);
}

.strengthBar {
  position: static !important;

  p {
    display: none;
  }

  & > div {
    border-radius: 0 0 0 $border-radius;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 41px;
    z-index: 4;
  }
}
